@page "/category"
@inject DataBaseContext Blazor

<div class="container">
    <div class="row">
        <div class="col-12">
            <h1 class="text-center">Categorias</h1>
        </div>
        <div class="col-6 mt-3 input-group mx-auto">
            <input type="text" class="form-control" placeholder="Nova categoria" aria-label="Nova categoria"
                aria-describedby="button2" @bind="newCategory">
            <button class="btn btn-outline-primary" type="button" id="button2" @onclick="AddCategory">Adicionar
                categoria</button>
        </div>
    </div>
</div>



@code {

    private string? newCategory;
    private string? message = "";

    private void AddCategory() {
        var category = new Category {
            description = newCategory
        };
        Blazor.Category.Add(category);
        Blazor.SaveChanges();

        message = "Categoria adicionada";
        newCategory = "";
    }

}
