@page "/to-do-list"

<div class="container">
  <div class="row">
    <div class="col-12">
      <h1 class="text-center">to-do list</h1>
    </div>
    <div class="col-8 mx-auto mt-3 mb-2">
      <div class="input-group mb-3">
        <input  @bind="newTask" type="text" class="form-control" placeholder="Enter a task...">
        <button @onclick="addNewTask" class="btn btn-outline-secondary" type="button" id="button-addon2">Add Task</button>
      </div>
    </div>

    <div class="col-12">
      <ul class="list-group">
        @foreach (var item in todos)
        {
          <li class="list-group-item">
            <input @bind="item.HasCompleted" class="form-check-input me-1" type="checkbox" value="" aria-label="...">
            <span style="@completedTask(item.HasCompleted)">@item.Title</span>
          </li>
        }
      </ul>
    </div>
  </div>
</div>


@code {
  private List<TodoModel> todos = new();
  private string? newTask;

  private void addNewTask()
  {
    if (!string.IsNullOrWhiteSpace(newTask))
    {
      todos.Add(new TodoModel()
      {
        Title = newTask
      });
      newTask = "";
    }
  }

  private string completedTask(bool completed)
  {
    return completed ? "font-style: italic;text-decoration: line-through;" : "";
  }
}